* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #CAD2C5;
    background-color: #2F3E46;
}

main {
    max-width: 1100px;
    background-color: #354F52;
    margin: 0 auto;
}

header {
    background-color: #52796F;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #52796F;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: 1rem;
}

nav a {
    color: #CAD2C5;
    padding-inline: 10px;
}

nav a:hover {
    color: #354F52;
}

article {
    display: flex;
    flex-wrap: wrap;
}

aside {
    background-color: #84A98C;
    padding: 20px;
    flex: 30%;
}

.principal {
    background-color: #698d70;
    padding: 20px;
    flex: 70%;
}

.img, .img2 {
    background-color: #fff;
    margin: 20px 0px;
    width: 200px;
    height: 200px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #52796F;
}