article {
    flex: 70%;
}

/* SECTION WORKS */

.Works-Section, 
.Education-Section {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.700);
    background-color: var(--corClara);
    margin: 15px;
    padding: 30px;
}

.titulo-Work {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.titulo-Work > h2 {
    color: var(--corEscura);
    font-weight: 400;
}

.Works {
    padding: 30px 0px;
}

.Works:not(:last-child) {
    border-bottom: 1px solid var(--corMedia);
}

.Works > h3 {
    color: var(--corEscura);
    font-size: 1.1rem;
}

span {
    color: var(--corEscura);
    font-weight: 500;
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

span > img {
    margin-right: 15px;
}

.Works p {
    font-size: 1rem;
    font-weight: 500;
}

/* SECTION EDUCATION */

.Educations {
    padding: 30px 0px;
}

.Educations:not(:last-child) {
    border-bottom: 1px solid var(--corMedia);
}

.titulo-Education {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.titulo-Education > h2 {
    color: var(--corEscura);
    font-weight: 400;
}

.Educations > h3 {
    color: var(--corEscura);
    font-size: 1.1rem;
}

.Educations p {
    font-size: 1rem;
    font-weight: 500;
}