aside {
    background-color: var(--corClara);
    margin: 15px;
    flex: 30%;
    height: 80%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.700);
}

aside .Image {
    color: var(--corClara);
    height: 350px;
    background: url(../imgs/img-eu.jpg) no-repeat center / cover; 
    display: flex;
    align-items: flex-end;
    border-radius: 7px;
}

aside .Image > h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 20px ;
}

/* SOBRE MIM */

.About-Me {
    color: var(--corEscura);
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    align-items: center;
    padding: 15px;
    column-gap: 15px;
    border-bottom: 1px solid var(--corMedia);
}

.About-Me .text h3 {
    font-weight: 500;
}

.About-Me .icons {
    display: grid;
    place-items: center;
}

/* SKILLS */

.Skills {
    border-bottom: 1px solid var(--corMedia);
    padding: 15px;
}

.titulo {
    display: flex;
    margin: 20px 0px;
}

.titulo h2 {
    color: var(--corEscura);
    font-size: 1.3rem;
    margin-left: 15px;
}

.Skills > .skill-text,
.Languages > .skill-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--corEscura);
}

.Skills > .Grafico {
    width: 95%;
    margin: 15px auto;
    height: 20px;
    border: 2px solid ;
    border-radius: 15px;
    position: relative;
}

.Grafico-one::before,
.Grafico-two::before,
.Grafico-three::before,
.Grafico-four::before {
    content: "";
    position: absolute;
    text-align: center;
    font-size: 12px;
    background-color: var(--corEscura);
    color: #fff;
    top: 0;
    bottom: 0;
    border-radius: 15px;
}

.Grafico-one::before {
    content: "90%";
    width: 90%;
}
.Grafico-two::before {
    content: "80%";
    width: 80%;
}

.Grafico-three::before {
    content: "75%";
    width: 65%;
}
.Grafico-four::before {
    content: "40%";
    width: 40%;
}

/* LANGUAGES */

.Languages {
    padding: 15px;
}

.Languages > .Grafico { 
    width: 95%;
    margin: 15px auto;
    height: 20px;
    border: 2px solid ;
    border-radius: 15px;
    position: relative;
}

.Languages .GraficoPT::before,
.GraficoEN::before {
    content: "";
    position: absolute;
    text-align: center;
    background-color: var(--corEscura);
    color: #fff;
    top: 0;
    bottom: 0;
    border-radius: 15px;
}

.GraficoPT::before {
    width: 95%;
}
.GraficoEN::before {
    width: 35%;
}