footer {
    background-color: var(--corMedia);
    /* height: 100px; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h4 {
    color: var(--corClara);
    font-size: 1.3rem;
    margin-bottom: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li:hover {
    transform: scale(1.3);
}