@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --corEscura: #212A3E;
    --corMedia: #394867;
    --corClara: #b7c2d6;
    --corMaisClara: #d0d0d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1250px;
    background-color: var(--corMaisClara);
}

.principal {
    display: flex;
}

@media (max-width: 700px) {
    .principal {
        flex-direction: column;
    }

    aside .About-Me .text h3 {
        font-size: 15px;
    }

    
}

@media (max-width: 350px) {
    aside .About-Me .text h3 {
        font-size: 13px;
    }

    footer h4 {
        font-size: .8rem;
    }
}