@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #15161f;
    color: #e1e1e1;
    height: 95vh;
}

main {
    max-width: 1000px;
    margin: auto;
    background-color: #36373b;
}

nav {
    margin: 10px;
    padding: 10px;
}

nav > .titulo {
    text-align: center;
    border-bottom: 2px solid #003049;
    padding: 5px;
    margin: 5px;
}

.menu {
    text-align: center;
    display: flex;
}

.menu > .esquerda {
    background-color: #457b9d;
    padding: 10px;
    flex: 50%;
}

.menu > .direita {
    background-color: #669bbc;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
    }
}