* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}cxcx

body {
    background-color: #262737;
    color: #e1e1e1;

    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

section {
    background-color: rgb(0, 45, 192);
    border: 1px solid #fff;
    /* width: 100%; */
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div {
    width: 100px;
    height: 100px;

    background-color: #ce4b00;
    color: #fff;
    border: 1px solid #00dbb7;

    line-height: 5rem;
    font-size: 1.5rem;
    text-align: center;
}